<h1>New Article</h1>  

<%= simple_form_for @post do |f| %>
<%= f.error_notification %>
  <p>
    <%= f.input :title, label: 'Le titre' %>
    <%= f.input :content, label: 'Votre article', placeholder: "Tapez ici votre article" %>
    <%= f.input :synopsis, label: 'Synopsis' %>
    <%= f.input :hashtag, label: 'Hashtag' %>
    <%= f.submit "Publier votre article", class: "btn btn-primary text-center" %>
  </p>
<% end %>

